@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  border: none;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}
header {
  background-color: #f3eed9;
  min-height: 660px;
}
.container {
  width: 80%;
  max-width: 1128px;
  padding: 100px;
  margin: 0 auto;
}
.page__header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
}
.page__header--title {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 100;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #222c2a;
}
.page__header--title-main {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  color: #824936;
}
.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.intro {
  display: flex;
  flex-direction: column;
}
.intro__title {
  text-align: center;
  color: #824936;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  margin-bottom: 2em;
}
.intro__text + .intro__text {
  margin-left: 50px;
}
.section_2 {
  background-color: #222c2a;
}
.section_3 {
  background-color: #824936;
}
.section__title {
  color: #f3eed9;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  margin-bottom: 0.75em;
}
.section__text {
  color: white;
  font-weight: 100;
}
.section__description {
  width: 50%;
  margin-top: 0;
  align-self: flex-start;
}
.section__img {
  width: 40%;
}
